@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background-color: #040411;
  font-family: 'Source Code Pro', monospace;
  color: #888;
}

.wrapper {
  max-width: 840px;
  margin: 2em auto;
}

header {
  margin: 0 2em;
  padding: 3em 0;
  /* border-bottom: solid 3px #222255; */
  opacity: 0;
  animation: 1s fadeIn 0.7s forwards;
}

header > h1.site-title {
  font-size: 2rem;
  font-weight: 400;
  color: #414ebe;
}

header > p.site-summary-text {
  font-weight: 400;
  font-style: italic;
}

main {
  margin: 2rem;
  opacity: 0;
  animation: 1.5s fadeIn 1.5s forwards;
}

ul.card-list {
  list-style: none;
  padding: 0;
}

ul.card-list > li.card-list-item {
  margin: 1rem 0 1.2rem;
  padding: 1.2rem;
  border-radius: 1rem;
  background-color: #0b0b31;
}

li.card-list-item > .card-header {
  margin-bottom: 0.8rem;
}

li.card-list-item > .card-header > h3.card-title {
  margin: 0 0 0.5rem;
}

li.card-list-item > .card-header > ul.card-links-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.card-links-list > li.card-links-list-item {
  display: grid;
  grid-template-columns: 2.2rem 1fr;
  justify-items: left;
  align-content: center;
  align-items: center;
  font-weight: 400;
  color: #4c4c5c;
}

ul.card-links-list > li.card-links-list-item {
  font-size: 0.85rem;
  font-weight: 400;
  color: #555577;
}

li.card-list-item > p.card-description {
  margin: 0;
  font-style: italic;
}

li.card-list-item > .card-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

li.card-list-item > .card-footer > .card-footer-icon {
  color: #888;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}