@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background-color: #040411;
  font-family: 'Source Code Pro', monospace;
  color: #aaa;
}

.wrapper {
  max-width: 840px;
  margin: 2em auto;
}

header {
  margin: 0 2em;
  padding: 3em 0;
  border-bottom: solid 3px #151533;
  opacity: 0;
  animation: 1s fadeIn 0.7s forwards;
}

header > h1.site-title {
  font-size: 2rem;
  font-weight: 400;
  color: #414ebe;
}

header > p.site-summary-text {
  font-weight: 400;
  font-style: italic;
}

main {
  margin: 2rem;
  opacity: 0;
  animation: 1.5s fadeIn 1.5s forwards;
}

ul.card-list {
  list-style: none;
  padding: 0;
}

ul.card-list > li.card-list-item {
  margin: 1rem 0 1.2rem;
  padding: 1.2rem;
  display: grid;
  grid-template-columns: 90% 1fr;
  border-radius: 1rem;
  background-color: #0f0f0f;
}

.card-content > .card-header {
  margin-bottom: 0.8rem;
}

.card-content > .card-header > h3.card-title {
  margin: 0 0 0.5rem;
}

.card-content > .card-header > h4.card-link-text {
  margin: 0 0 0.5rem;
  font-weight: 400;
  color: #4c4c5c;
}

.card-content > p.card-description {
  margin: 0;
  font-size: 0.95rem;
  font-style: italic;
}

.card-icon {
  align-self: center;
  justify-self: right;
  opacity: 0.2;
}

li.card-list-item:hover > .card-icon {
  opacity: 1;
  animation: 0.8s fadeInIcon forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInIcon {
  from { opacity: 0.2; }
  to { opacity: 1; }
}